<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Roboto", sans-serif;
  }
  body {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background:#191c24; /*fiolet*/
  }
  .container {
      width: 1000px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  .container .btn {
      position: relative;
      top: 0;
      left: 0;
      width: 250px;
      height: 50px;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .container .btn a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.05);
      box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 30px;
      padding: 10px;
      letter-spacing: 1px;
      text-decoration: none;
      overflow: hidden;
      color: #fff;
      font-weight: 400px;
      z-index: 1;
      transition: 0.5s;
      backdrop-filter: blur(15px);
  }
  .container .btn:hover a {
      letter-spacing: 3px;
  }
  .container .btn a::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
      transform: skewX(45deg) translate(0);
      transition: 0.5s;
      filter: blur(0px);
  }
  .container .btn:hover a::before {
      transform: skewX(45deg) translate(200px);
  }
  .container .btn::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
      bottom: -5px;
      width: 30px;
      height: 10px;
      background: #f00;
      border-radius: 10px;
      transition: 0.5s;
      transition-delay: 0.5;
  }
  .container .btn:hover::before /*lightup button*/ {
      bottom: 0;
      height: 50%;
      width: 80%;
      border-radius: 30px;
  }
  
  .container .btn::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
      top: -5px;
      width: 30px;
      height: 10px;
      background: #f00;
      border-radius: 10px;
      transition: 0.5s;
      transition-delay: 0.5;
  }
  .container .btn:hover::after /*lightup button*/ {
      top: 0;
      height: 50%;
      width: 80%;
      border-radius: 30px;
  }
  .container .btn:nth-child(1)::before, /*chnage 1*/
  .container .btn:nth-child(1)::after {
      background: #0e7eda;
      box-shadow: 0 0 5px #04c4ff, 0 0 15px #04c4ff, 0 0 30px #04c4ff,
          0 0 60px #04c4ff;
  }
  .container .btn:nth-child(2)::before, /* 2*/
  .container .btn:nth-child(2)::after {
      background: #2db2ff;
      box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff,
          0 0 60px #2db2ff;
  }
  .container .btn:nth-child(3)::before, /* 3*/
  .container .btn:nth-child(3)::after {
      background: #1eff45;
      box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45,
          0 0 60px #1eff45;
  }
  
  </style>
  <body>
      <div class="container">
          
          <div class="btn"><a href="/login">Click here to login.</a></div>
  
          <script src="../../../assets/auth/js/jquery.min.js"></script>
          <script src="../../../assets/auth/js/popper.js"></script>
          <script src="../../../assets/auth/js/bootstrap.min.js"></script>
          <script src="../../../assets/auth/js/main.js"></script>
      </div>		
  </body>
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="2384a3f0-4a43-4e4c-b8a7-ed28669a2dcc";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>